body
{
	margin: 0;
	padding: 0;
}

.logo
{
	margin-left: 140px;
	height: 120px;
    width: auto;
	float: left;

}
.menu
{
	width: 100%;
	overflow: auto;
	background-color: blue;
	overflow: hidden;
	background-size: fixed;
}

.menu ul
{
	margin: 0;
	padding: 0;
	list-style: none;
	line-height: 60px;


}
.menu li
{
	float: right;

}
.menu ul li a
{
	text-decoration: none;
	width: 130px;
	display: block;
	text-align: center;
	color: black;
	font-size: 18px;
	font-family: sans-serif;
	letter-spacing: 0.5px;
}
.search
		{
			margin-top: 15px;
			float: left;
			margin-right: 100px;
			margin: 10px 10px 10px 50px;

		}
input[type=text]
		{
			padding: 7px;
			border: none;
			font-size: 16px;
			height: 15px;
			font-family: sans-serif;
		}
button
{
			float: right;
			background: orange;
			color: #fff;
			cursor: pointer;
			position: relative;
			padding: 7px;
			font-family: sans-serif;
			border: none;
			font-size: 16px;
		}